
<form>
  <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputTitle">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription">
  </div>
  <button id="submit" type="submit" class="btn btn-primary">Post</button>
</form>

<script>
  const userId = {{user_id}}
</script>

<script src="/js/newPost.js"></script>
