{{#each userData }}
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.title}}</li>
    <li class="list-group-item">{{this.date}}</li>
    <a href="/dashboard/{{this.id}}">View Post</a>
  </ul>
</div>
{{/each}}
