{{#each postData }}
{{!-- card input --}}
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.title}}</li>
    <li class="list-group-item">{{this.description}}</li>
    <li class="list-group-item">{{this.user.username}}</li>
    <li class="list-group-item">{{this.date}}</li>
  </ul>
</div>

{{!-- comment form --}}
<form>
  <div class="form-group">
  <div class="form-group">Comment</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/each}}